{% extends "base.html" %}
{% load static %}

{% block header %}
    <nav>
        <ul class="nav nav-pills pull-right">
            <li id="clear" role="presentation"><a href="#">Clear Receipts</a></li>
        </ul>
    </nav>
    <h3 id="game" class="text-muted">{{ game }}</h3>
{% endblock header %}

{% block jumbotron %}
    {% if game.completion_code %}
        <p class="lead">Your completion code is:</p>
        <code id="code">{{ game.completion_code }}</code>
    {% else %}
        <p class="lead">Keep gruntin'!</p>
    {% endif %}
{% endblock jumbotron %}

{% block javascript %}
    <script type="text/javascript" src="{% static "grunt/js/ajax.js" %}"></script>
    <script>

$( "#clear" ).click(function( event ) {
    console.log("posted");
    $.ajax({
        url: "{% url "clear" pk=game.pk %}",
        type: "POST",
        success: function(response) {
            window.location.replace(response.complete);
        },
        error: function(xhr, msg, err) {
            console.log("There was a problem clearing your session: " + err);
        }
    });
});
    </script>
{% endblock javascript %}
