{% extends "base.html" %}
{% load static %}

{% block styling %}
    <link href="{% static "grunt/css/recorder.css" %}" rel="stylesheet" type="text/css">
{% endblock styling %}

{% block header %}

    <nav>
        <ul class="nav nav-pills pull-right">
            <li id="share" role="presentation"><a href="#">Share Mic</a></li>
        </ul>
    </nav>

    <h3 id="game" class="text-muted">{{ game }}</h3>

{% endblock header %}

{% block jumbotron %}

    {{ block.super }}

    <form id="entry" method="post" action="{{ game.get_absolute_url }}" enctype="multipart/form-data">
        {% csrf_token %}

        <p id="status" class="lead">{{ form.status }}</p>
        <div class="row">
            <div class="col-md-2 col-sm-1"></div>
            <div class="col-md-4 col-sm-5 col-xs-6">
                <img id="phone" src="{% static 'telephone/img/phone.png' %}" class="img-responsive"/>
            </div>
            <div class="col-md-4 col-sm-5 col-xs-6">
                <img id="listen" src="{% static 'telephone/img/listen.png' %}" class="img-responsive unavailable"/>
                <img id="record" src="{% static 'telephone/img/record.png' %}" class="img-responsive unavailable"/>
            </div>
            <div class="col-md-2 col-sm-1"></div>
        </div>

        {{ form.parent.as_hidden }}
        {{ form.audio.as_hidden }}
        <audio id="sound" src="{{ url }}"></audio>

        <p id="message" class="lead bg-danger">
            {% if form.content.errors %}
                {{ form.content.errors.as_text|cut:"* "}}
            {% endif %}
        </p>

        <input type="submit" value="Send" id="submit" class="btn btn-lg btn-primary" disabled="disabled"/>
    </form>

{% endblock jumbotron %}

{% block footer %}
{% endblock footer %}

{% block javascript %}
    <script type="text/javascript" src="{% static "grunt/js/recorderjs/recorder.js" %}"></script>
    <script type="text/javascript" src="{% static "grunt/js/audiorecorder.js" %}"></script>
    <script type="text/javascript" src="{% static "grunt/js/ajax.js" %}"></script>
    <script>
var audioRecorder = null;

// recorderjs uses javascript workers that require a full path
var cfg = { workerPath: "{% static "grunt/js/recorderjs/recorderWorker.js" %}" };

function updateValues( response ) {

    // Update the relevant parts of the page given the JSON response,
    // and reset the button states for a new entry.

    $( "#id_chain" ).val(response.chain);
    $( "#id_parent" ).val(response.parent);
    $( "#sound" ).attr("src", response.url);
    $( "#status" ).text(response.status);

    $( "#record" ).addClass("unavailable");
    $( "#submit" ).prop("disabled", true);
    $( "#listen" ).removeClass("active");
    $( "#record" ).removeClass("active");

    updateMessage("");

}

function micShared() {

    $( "#share" ).addClass("active");
    $( "#listen" ).removeClass("unavailable");
    updateMessage("");

}


function postEntry( blob ) {

    // Post the entry via AJAX.
    //
    // Grab the data in the form, put it in a FormData object,
    // append the blob, and submit it. Possible responses are:
    // (1) -- valid form   -- new url
    // (2)                 -- values for next entry
    // (3) -- invalid form -- error message(s)

    var entryForm = document.getElementById("entry");
    var formData = new FormData(entryForm);
    formData.append("content", blob);

    $.ajax({
        url: "{% url "play" pk=game.pk %}",
        type: "POST",
        data: formData,
        processData: false,
        contentType: false,
        success: function(response) {

            // The server responds with the URL of the completion page
            // or the values to update for the next entry.

            if (response.complete) {
                window.location.replace(response.complete);
            } else {
                $( "#status" ).text("Success!");
                $( "#status" ).addClass("bg-success");

                setTimeout(function() {
                    $( "#status" ).removeClass("bg-success");
                    updateValues(response);
                }, 2000);  // show success message for 2 seconds
            }

        },
        error: function(xhr, msg, err) {
            updateMessage("There was a problem processing your entry");
        }
    });
}
    </script>
{% endblock javascript %}
