{% extends "base.html" %}
{% load static %}

{% block header %}
    <h3 id="game" class="text-muted">{{ game }}</h3>
{% endblock header %}

{% block jumbotron %}

    {{ block.super }}

    {% if game.completion_code %}
        <p class="lead">Your completion code is:</p>
        <code id="code">{{ game.completion_code }}</code>
    {% else %}
        <p class="lead">Keep gruntin'!</p>
    {% endif %}

    <a href="{% url 'game_list' %}"><input type="button" value="Play again" id="return" class="btn btn-lg btn-primary"/></a>

{% endblock jumbotron %}
