{% extends "base.html" %}

{% block jumbotron %}

    <!-- Iterate through clusters and generations to draw all entries.
         Clusters are vertically separated on the page.
         Generations are rows. -->
    {% for chain in game.chain_set.all %}
    <div>
        {% for message in chain.message_set.all %}
        <div class="message">
            {{ message }}
            <a id="id_edit" href="{{ message.get_absolute_url }}">Edit</a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}

{% endblock jumbotron %}
