{% extends "base.html" %}
{% load static %}

{% block header %}
    <h3 id="game" class="text-muted">{{ game }}</h3>
{% endblock header %}

{% block jumbotron %}

    {{ block.super }}

    <div class="row">
        <a target="_blank" href="http://inspirationzoo.com/creative/creativity-is-like-chinese-whispers/"><img src="{% static 'telephone/img/whisper.jpg' %}" class="img-responsive" /></a>
    </div>

    <p>
        There is a children's game called telephone in which a queue of people
        pass a message from ear to ear to the end of the line. The message that
        comes out the other end rarely resembles the original message, even if
        each step of the way the message only departs from the previous by a
        little bit.
    </p>

    <p>
        We are researchers at University of Wisconsin-Madison who are
        interested in documenting the process of auditory transmission from
        person to person in a game much like telephone. If you choose to
        participate in our study, we will ask you to play the telephone game
        with others: you will listen to an audio message and then
        record yourself recreating as closely as possible the message you
        heard.
    </p>

    <p>
        The interface below is used to play the game. Clicking on the top
        sound wave icon will play a sound, and clicking on the bottom
        sound wave will toggle your computer's microphone recorder so that you
        can record your own. Our game differs from the children's game in that
        many of the sounds you will hear will not be recognizable as English
        words. Your task is the same: to recreate the sound you heard as
        accurately as you can.
    </p>

    <div class="row">
        <div class="col-md-2 col-sm-1"></div>
        <div class="col-md-4 col-sm-5 col-xs-6">
            <img id="phone" src="{% static 'telephone/img/phone.png' %}" class="img-responsive"/>
        </div>
        <div class="col-md-4 col-sm-5 col-xs-6">
            <img id="listen" src="{% static 'telephone/img/listen.png' %}" class="img-responsive unavailable"/>
            <img id="record" src="{% static 'telephone/img/record.png' %}" class="img-responsive unavailable"/>
        </div>
        <div class="col-md-2 col-sm-1"></div>
    </div>

    <p>
        If you choose to participate in our game, you will be asked to listen
        to and record audio using your internet browser. Unfortunately we only
        know how to do that with Mozilla Firefox or Google Chrome browsers.
        Please visit the site using either of these browsers or you will not
        be able to participate.
    </p>

    <p>
        You must give your browser explicit permission before it can make a
        recording by clicking on the "Share Mic" button in the nav bar on the
        next page. You won't be able to listen to the message until you have
        shared your microphone. After you have listened to the message, you
        will be allowed to make your own recording. Click the bottom sound
        wave to turn the recorder on, and click a second time to turn the
        recorder off.
    </p>

    <p>
        After you have made a recording, press Submit to send your entry to
        us. The next person who arrives at the site will now hear your
        recording, and record their own recreation of your recreation (and so
        on, and so on!). Don't worry, we will not ask you to provide any
        individuating information in your recordings. Each player will be
        asked to recreate a few messages before completion.
    </p>

    <p>
        When you are ready to begin, click Accept below.
    </p>

    <form method="post" action="{% url 'accept' pk=game.pk %}">
        {% csrf_token %}
        <input type="submit" value="Accept" id="accept" class="btn btn-lg btn-primary"/>
    </form>

{% endblock jumbotron %}
