{% extends "base.html" %}
{% load static %}

{% block styling %}
    <link href="{% static "telephone/css/recorder.css" %}" rel="stylesheet" type="text/css">
{% endblock styling %}

{% block header %}

    <nav>
        <ul class="nav nav-pills pull-right">
            <li id="share" role="presentation"><a href="#">Share Mic</a></li>
        </ul>
    </nav>

    <h3 id="game" class="text-muted">{{ form.game }}</h3>

{% endblock header %}

{% block jumbotron %}

    {{ block.super }}

    <form id="entry" method="post" action="{{ form.game.get_absolute_url }}" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.chain.as_hidden }}
        {{ form.parent.as_hidden }}
        {{ form.content.as_hidden }}

        <p id="status" class="lead">{{ form.status }}</p>
        <div class="row">
            <div class="col-xs-8 col-md-8">
                <img id="phone" src="{% static 'telephone/img/phone.png' %}" class="img-responsive"/>
            </div>
            <div class="col-xs-4 col-md-4">
                <img id="listen" src="{% static 'telephone/img/listen.png' %}" class="img-responsive unavailable"/>
                <img id="record" src="{% static 'telephone/img/record.png' %}" class="img-responsive unavailable"/>
            </div>
        </div>

        <audio id="sound" src="{{ form.parent_url }}"></audio>

        <p id="message" class="lead bg-danger">
            {% if form.content.errors %}
                {{ form.content.errors.as_text|cut:"* "}}
            {% endif %}
        </p>

        <input type="submit" value="Send" id="submit" class="btn btn-lg btn-primary" disabled="disabled"/>
    </form>

{% endblock jumbotron %}

{% block footer %}
{% endblock footer %}

{% block javascript %}
    <script type="text/javascript" src="{% static "telephone/js/recorderjs/recorder.js" %}"></script>
    <script type="text/javascript" src="{% static "telephone/js/audiorecorder.js" %}"></script>
    <script type="text/javascript" src="{% static "telephone/js/ajax.js" %}"></script>
    <script>
// recorderjs uses javascript workers that require a full path
var cfg = { workerPath: "{% static "telephone/js/recorderjs/recorderWorker.js" %}" };

function updateValues( response ) {

    // Update the relevant parts of the page given the JSON response

    $( "#id_chain" ).val(response.chain);
    $( "#id_parent" ).val(response.parent);
    $( "#sound" ).attr("src", response.url);
    $( "#status" ).text(response.status);

    updateMessage();

}

function postEntry( blob ) {

    // Post the entry via AJAX.
    //
    // Grab the data in the form, put it in a FormData object,
    // append the blob, and submit it. Possible responses are:
    // (1) -- valid form   -- new url
    // (2)                 -- values for next entry
    // (3) -- invalid form -- error message(s)

    var entryForm = document.getElementById("entry");
    var formData = new FormData(entryForm);
    formData.append("content", blob);

    $.ajax({
        url: "{% url "play" pk=form.game.pk %}",
        type: "POST",
        data: formData,
        processData: false,
        contentType: false,
        success: function(response) {

            // The server responds with the URL of the completion page
            // or the values to update for the next entry.

            console.log("received");

            if (response.complete) {
                window.location.replace(response.complete);
            } else {
                updateValues(response);
            }

        },
        error: function(xhr, msg, err) {
            updateMessage("There was a problem processing your entry");
        }
    });
}
    </script>
{% endblock javascript %}
