{% extends "base.html" %}
{% load static %}

{% block header %}
    <h3 id="game" class="text-muted">{{ game }}</h3>
{% endblock header %}

{% block jumbotron %}

    {{ block.super }}

    <p id="message" class="lead">It looks like you've already played this game. Would you like to play again?</p>

    <form method="post" action="{% url 'clear' pk=game.pk %}">
        {% csrf_token %}
        <input type="submit" value="Play again" id="clear" class="btn btn-lg btn-primary"/>
    </form>

{% endblock jumbotron %}
