.unavailable {
    opacity: 0.1;
}

.button-on {
     background: -webkit-radial-gradient(40px, #FF0000, #EEE 100%, #EEE 100%, #FFFFFF);
     background: -moz-radial-gradient(40px, #FF0000, #EEE 100%, #EEE 100%, #FFFFFF);
     background: radial-gradient(40px, #FF0000, #EEE     100%, #EEE 100%, #FFFFFF);
}

.alert {
  position: relative;
  top: -200px;
}
