circle {
    stroke: black;
    stroke-width: 2px;
}

.filled {
    fill: blue;
}
.empty {
    fill: white;
}

text {
  fill: gray;
}

.active {
  fill: black;
}

svg {
  background-color: #F0F0F0;
}
