---

- name: Ensure that the application file permissions are set properly
  file: path={{ virtualenv_path }}
        recurse=yes
        owner={{ gunicorn_user }}
        group={{ gunicorn_group }}
        state=directory
  notify: restart application

- name: Really ensure that application file permissions are set properly
  shell: chown -R {{ gunicorn_user }}:{{ gunicorn_group }} {{ virtualenv_path }}
