{% extends "base.html" %}
{% load static %}

{% block styling %}
  <link href="{% static 'grunt/css/inspect.css' %}" rel="stylesheet">
{% endblock styling %}

{% block navbar %}
  <li class="navbar-brand navbar-left">{{ game }}</li>

  <button id="previous" type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-chevron-left"></span> Previous
  </button>
  <button id="next" type="button" class="btn btn-default">
    Next <span class="glyphicon glyphicon-chevron-right"></span>
  </button>
{% endblock navbar %}

{% block body %}
<div class="chains">
</div>

<audio src=""></audio>
{% endblock body %}

{% block javascript %}
  <script src="{% static 'd3/d3.v3.min.js' %}" type="text/JavaScript"></script>
  <script src="{% static 'd3/colorbrewer.js' %}" type="text/JavaScript"></script>
  <script src="{% static 'grunt/js/ajax.js' %}" type="text/javascript"></script>
  <script src="{% static 'grunt/js/inspect.js' %}" type="text/JavaScript"></script>
  <script>
var csrf_token = "{{ csrf_token }}",
    message_data = "{% url 'message_data' pk=game.pk %}",
    current = 0;

function getMessageData(chain) {
  var urlWithQuery = message_data + "?chain=" + chain;
  d3.json(urlWithQuery, visualize);
}

$(function () {
  $("#next").click(function () {
    current = current + 1;
    getMessageData(current);
  });

  $("#previous").click(function () {
    current = current - 1;
    getMessageData(current);
  });

  getMessageData(current);
});
  </script>
{% endblock javascript %}
