{% extends "base.html" %}
{% load static %}

{% block header %}
    <h3 id="game" class="text-muted">{{ game }}</h3>
{% endblock header %}

{% block jumbotron %}

    {{ block.super }}

    <div class="row">
        <a target="_blank" href="http://inspirationzoo.com/creative/creativity-is-like-chinese-whispers/"><img src="{% static 'grunt/img/whisper.jpg' %}" class="img-responsive" /></a>
    </div>

    <p>
        We are researchers at the University of Wisconsin-Madison studying how
        audio messages are passed on from person to person, much like in the
        children’s game Telephone. If you choose to participate, we will ask
        you to listen to an audio message recorded by someone else, and then
        record yourself imitating the message that you heard using your
        computer's microphone.
    </p>

    <p>
        Unlike the children's game of Telephone, the sounds you will hear will
        not be recognizable English words, but will be various nonspeech sounds.
        Your task is the same, however: to recreate the sound you heard as
        accurately as you can.
    </p>

    <p>
        The interface you will use for playing the game is shown below.
        Before you begin, make sure you are using a computer with a working microphone,
        and that your computer speakers are turned on (or, preferrably, that you
        are using headphones). If there is TV or music playing in the background,
        please turn it off or move to a quieter space. To play,
        first you will click on the top sound wave icon to hear the message
        you are to imitate. After you listen to the message, then you will
        click on the bottom sound wave icon to record your imitation.
    </p>

    {% include "grunt/_player.html" %}

    <p>
        After you submit your recording, the next person who arrives at the
        site will now hear your recording, and record their own recreation
        of your recreation (and so on, and so on!). Don't worry, we will not
        ask you to provide any information that identifies you. Each player
        will be asked to imitate several sounds.
    </p>

    <p>
        When you are ready to begin, click Accept below.
    </p>

    <form method="post" action="{% url 'accept' pk=game.pk %}">
        {% csrf_token %}
        <input type="submit" value="Accept" id="accept" class="btn btn-lg btn-primary"/>
    </form>

{% endblock jumbotron %}
