{% extends "base.html" %}
{% load static %}

{% block header %}
    <h3 id="game" class="text-muted">{{ game }}</h3>
{% endblock header %}

{% block jumbotron %}

    {{ block.super }}

    <div class="row">
        <a target="_blank" href="http://inspirationzoo.com/creative/creativity-is-like-chinese-whispers/"><img src="{% static 'grunt/img/whisper.jpg' %}" class="img-responsive" /></a>
    </div>

    <p>
        We are researchers at University of Wisconsin-Madison who are
        interested in studying the process of how audio messages get passed on
        from person to person, much like in the children’s game Telephone. If
        you choose to participate in our study, we will ask you to listen to an
        audio message recorded by someone else, and then record yourself
        imitating the message that you heard.
    </p>

    <p>
        Our game differs from the children's game in that many of the
        sounds you will hear will not be recognizable as English words. Your
        task is the same: to recreate the sound you heard as accurately as
        you can.
    </p>

    <p>
        The interface below is used to play the game. Clicking on the top sound
        wave icon will play a sound, and clicking on the bottom sound wave will
        toggle your computer's microphone recorder so that you can record your
        own.
    </p>

    {% include "grunt/_player.html" %}

    <p>
        After you have submit your entry, the next person who arrives at the
        site will now hear your recording, and record their own recreation of
        your recreation (and so on, and so on!). Don't worry, we will not ask
        you to provide any individuating information in your recordings. Each
        player will be asked to recreate a few messages before completion.
    </p>

    <p>
        When you are ready to begin, click Accept below.
    </p>

    <form method="post" action="{% url 'accept' pk=game.pk %}">
        {% csrf_token %}
        <input type="submit" value="Accept" id="accept" class="btn btn-lg btn-primary"/>
    </form>

{% endblock jumbotron %}
