{% extends "base.html" %}
{% load static %}

{% block styling %}
    <link href="{% static "grunt/css/recorder.css" %}" rel="stylesheet" type="text/css">
{% endblock styling %}

{% block header %}
  <h3 id="game" class="text-muted">{{ game }}</h3>
  <nav>
    <ul class="nav nav-pills pull-right">
      <li id="share" role="presentation"><a href="#">Share Mic</a></li>
    </ul>
  </nav>
{% endblock header %}

{% block jumbotron %}

  {{ block.super }}

  <p id="status" class="lead"></p>

  {% include "grunt/_player.html" %}

  <audio id="sound" src="{{ message.parent.audio.url }}"></audio>

  <form id="entry" method="post" action="{{ game.get_absolute_url }}" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.message.as_hidden }}
    {{ form.audio.as_hidden }}

    <input type="submit" value="Send" id="submit" class="btn btn-lg btn-primary" disabled="disabled"/>
  </form>
{% endblock jumbotron %}

{% block message %}
  {% if form.content.errors %}
    {{ form.content.errors.as_text|cut:"* "}}
  {% endif %}
{% endblock message %}

{% block javascript %}
    <script type="text/javascript" src="{% static "grunt/js/recorderjs/recorder.js" %}"></script>
    <script type="text/javascript" src="{% static "grunt/js/audiorecorder.js" %}"></script>
    <script type="text/javascript" src="{% static "grunt/js/ajax.js" %}"></script>
    <script>
var audioRecorder = null,
    recorderWorkerPath = "{% static 'grunt/js/recorderjs/recorderWorker.js' %}";
    </script>
{% endblock javascript %}
