{% extends "base.html" %}
{% load static %}

{% block styling %}
    <link href="{% static "grunt/css/recorder.css" %}" rel="stylesheet" type="text/css">
{% endblock styling %}

{% block header %}
  <h3 id="game" class="text-muted">{{ game }}</h3>
  <nav>
    <ul class="nav nav-pills pull-right">
      <li id="share" role="presentation"><a href="#">Share Mic</a></li>
    </ul>
  </nav>
{% endblock header %}

{% block jumbotron %}

  {{ block.super }}

  {% include "grunt/_player.html" %}

{% endblock jumbotron %}

{% block javascript %}
    <script type="text/javascript" src="{% static "grunt/js/recorderjs/recorder.js" %}"></script>
    <script type="text/javascript" src="{% static "grunt/js/ajax.js" %}"></script>
    <script type="text/javascript" src="{% static "grunt/js/player.js" %}"></script>
    <script>
var config = {},
    query = {};

config = {
  workerPath: "{% static 'grunt/js/recorderjs/recorderWorker.js' %}",
  callback: sendRecorderMessage
}

query = {
  message: {{ message.pk }} // initial message
};

function sendRecorderMessage(blob) {
   // create an object url
   //var url = (window.URL || window.webkitURL).createObjectURL(blob);

   // create a new request and send it via the objectUrl
  //  var request = new XMLHttpRequest();
  //  request.open("GET", url, true);
  //  request.responseType = blob;

  //  request.onload = function () {
   messageForm = new FormData();
   messageForm.append("message", query.message);
   messageForm.append("audio", blob);

   $.ajax({
     url: "{% url 'respond' %}",
     type: "POST",
     data: messageForm,
     processData: false,
     contentType: false,
     success: function (data) {

       if (!data.message) {
         window.location.href = "{% url 'complete' pk=message.chain.game.pk%}";
       } else {
         console.log("Old query.message");
         console.log(query.message);
         query.message = data.message;
         console.log("New query.message");
         console.log(query.message);

         $("#sound").attr("src", data.src || "");
         setPlayer();
       }
     },
     error: function (xhr, msg, error) {
       console.log("error");
       console.log(error);
     }

   });
  //  }
  //  request.send();
}

$(function () {
  var src = "{{ message.parent.audio.url }}" || "";
  setPlayer(src);
});

    </script>
{% endblock javascript %}
