/*.playing {
    background: -webkit-radial-gradient(80% 25%, circle closest-side, #FF0000, #EEE 100%, #EEE 100%, #FFFFFF);
    background: -moz-radial-gradient(80% 25%, circle closest-side, #FF0000, #EEE 100%, #EEE 100%, #FFFFFF);
    background: radial-gradient(80% 25%, circle closest-side, #FF0000, #EEE 100%, #EEE 100%, #FFFFFF);
}
.recording {
    background: -webkit-radial-gradient(80% 75%, circle closest-side, #FF0000, #EEE 100%, #EEE 100%, #FFFFFF);
    background: -moz-radial-gradient(80% 75%, circle closest-side, #FF0000, #EEE 100%, #EEE 100%, #FFFFFF);
    background: radial-gradient(80% 75%, circle closest-side, #FF0000, #EEE 100%, #EEE 100%, #FFFFFF);
}*/

.unavailable {
    opacity: 0.1;
}

.active {
     background: -webkit-radial-gradient(40px, #FF0000, #EEE 100%, #EEE 100%, #FFFFFF);
     background: -moz-radial-gradient(40px, #FF0000, #EEE 100%, #EEE 100%, #FFFFFF);
     background: radial-gradient(40px, #FF0000, #EEE     100%, #EEE 100%, #FFFFFF);*/
}
