{% extends "base.html" %}
{% load static %}


{% block styling %}
  <link href="{% static 'grunt/css/inspect.css' %}" rel="stylesheet">
{% endblock styling %}


{% block navbar %}
  <li class="navbar-brand navbar-left">{{ game }}</li>
  <li>
    <button id="id_previous_chain" type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-chevron-left"></span> Previous
    </button>
  </li>
  <li class="navbar-brand" id="id_chain_name"></li>
  <li>
    <button id="id_next_chain" type="button" class="btn btn-default">
      Next <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </li>
  <li class="navbar-right">
    <form action="{% url 'download' %}" method="POST">
      {% csrf_token %}
      <input class="textinput textInput form-control" id="id_selection" name="selection" type="hidden">
      <input type="submit" class="btn btn-default" value="Download Selected">
    </form>
  </li>

{% endblock navbar %}


{% block body %}
  <svg>
  </svg>
  <audio src=""></audio>
{% endblock body %}


{% block javascript %}
  <script src="{% static 'd3/d3.v3.min.js' %}" type="text/JavaScript"></script>
  <script src="{% static 'd3/colorbrewer.js' %}" type="text/JavaScript"></script>
  <script src="{% static 'grunt/js/ajax.js' %}" type="text/javascript"></script>
  <script src="{% static 'grunt/js/inspect.js' %}" type="text/JavaScript"></script>
  <script>
var csrf_token = "{{ csrf_token }}",
    message_data = "{% url 'message_data' pk=game.pk %}",
    num_chains = {{ game.chain_set.count }} - 1,
    current = 0;

var globalVars = {};

function getMessageData(chain) {
  var urlWithQuery = message_data + "?chain=" + chain;
  $("#id_chain_name").text(" Chain " + chain + " ");
  d3.json(urlWithQuery, visualize);
}

$(function () {
  $("#id_next_chain").click(function () {
    current = current + 1;
    if (current > num_chains) {
      current = 0;
    }
    getMessageData(current);
  });

  $("#id_previous_chain").click(function () {
    current = current - 1;
    if (current < 0) {
      current = num_chains;
    }
    getMessageData(current);
  });

  $("form").submit(function (event) {
    var active = d3.selectAll(".active"),
        selection = [];

    active
      .data()
      .forEach(function (message, i) {
        selection.push(message.pk);
      });

    active
      .classed("active", false);

    $("#id_selection").val(selection.toString());
    return true;
  });

  getMessageData(current);
});
  </script>
{% endblock javascript %}
