{% extends "base.html" %}
{% load static %}

{% block styling %}
    <link href="{% static "grunt/css/recorder.css" %}" rel="stylesheet" type="text/css">
{% endblock styling %}

{% block navbar %}
  <li class="navbar-brand navbar-left">{{ game }}</li>
  <li class="btn btn-default pull-right" role="presentation">
    <a id="share" href="#">Share Mic</a>
  </li>
{% endblock navbar %}

{% block jumbotron %}

  {{ block.super }}

  {% include "grunt/_player.html" %}

{% endblock jumbotron %}

{% block javascript %}
    <script type="text/javascript" src="{% static "grunt/js/recorderjs/recorder.js" %}"></script>
    <script type="text/javascript" src="{% static "grunt/js/ajax.js" %}"></script>
    <script type="text/javascript" src="{% static "grunt/js/player.js" %}"></script>
    <script>
var config = {},
    currentMessage = {{ message.pk }};

config = {
  workerPath: "{% static 'grunt/js/recorderjs/recorderWorker.js' %}",
  callback: sendRecorderMessage
}

function sendRecorderMessage(blob) {
   messageForm = new FormData();
   messageForm.append("message", currentMessage);
   messageForm.append("audio", blob);

   $.ajax({
     url: "{% url 'respond' %}",
     type: "POST",
     data: messageForm,
     processData: false,
     contentType: false,
     success: function (data) {

       if (!data.message) {
         window.location.href = "{% url 'complete' pk=message.chain.game.pk%}";
       } else {
         showAlert("Your message was received! A new message was loaded.", "alert-success");

         currentMessage = data.message;
         var src = data.src || "";
         $("#sound").attr("src", src);
         setPlayer();
       }
     },
     error: function (xhr, msg, error) {
       console.log("error");
       console.log(error);
     }
   });
}

$(function () {
  var src = "{{ message.parent.audio.url }}" || "";

  $("#share").click(shareMic);
  $("#listen").click(listenToMessage);
  $("#record").click(toggleRecording);

  $("#sound").bind("ended", function () {
    $("#listen").removeClass("button-on");
    $("#listen").addClass("played");
    $("#record").removeClass("unavailable");
  });

  $("#sound").attr("src", src);
  setPlayer();
});
    </script>
{% endblock javascript %}
